<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.s3cret.Alfred-imgur</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>14CC4052-B50F-4D7A-99B6-302CBE3546F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A355B75D-3AF2-4063-863A-1803A35C6D1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E883463-5FC0-4FC9-A245-F1070BE9931E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EC4A662-FA8C-4047-BE93-5107CAA5EBE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>520A8B7B-3C9D-4DAF-96A4-DAD1CD1A1353</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC8B951E-203F-4D66-A0A3-16CDB7A9DEEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C81ED3B-7597-4B79-B8FA-9DF8EF24641B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C81ED3B-7597-4B79-B8FA-9DF8EF24641B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7DE5657-9E3F-4800-976A-DE07B5242B74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>897F196A-ADB3-422A-A916-549BEB908163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14CC4052-B50F-4D7A-99B6-302CBE3546F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A355B75D-3AF2-4063-863A-1803A35C6D1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>520A8B7B-3C9D-4DAF-96A4-DAD1CD1A1353</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7DE5657-9E3F-4800-976A-DE07B5242B74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F972DF4-E67B-48D6-82ED-7894091802C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>74F9C575-DDD1-408B-A589-61D35764F650</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E883463-5FC0-4FC9-A245-F1070BE9931E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8A79BDB1-717E-401D-BA10-09263AB8CB01</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D93BF443-491D-4F89-A025-835AE6A9E378</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>11FFE650-D437-4CE7-B333-1CCCCE0E81DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>s3cret</string>
	<key>description</key>
	<string>Upload recent image from clipboard or URL or screenshot</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred to Imgur</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>From: {var:var1}</string>
				<key>title</key>
				<string>{var:var2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC8B951E-203F-4D66-A0A3-16CDB7A9DEEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Failed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7F972DF4-E67B-48D6-82ED-7894091802C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3.7 ./main.py "$var1" "$var2"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C81ED3B-7597-4B79-B8FA-9DF8EF24641B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Failed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2EC4A662-FA8C-4047-BE93-5107CAA5EBE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>img</string>
				<key>subtext</key>
				<string>from latest screenshot, clipboard or copied url</string>
				<key>text</key>
				<string>Upload to Imgur</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>897F196A-ADB3-422A-A916-549BEB908163</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2E883463-5FC0-4FC9-A245-F1070BE9931E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./main.sh "$s1" "$s2" | tr -d "\n"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/tmp/alfred-imgur/demo/main.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A355B75D-3AF2-4063-863A-1803A35C6D1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>No Image URL found in clipboard</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>74F9C575-DDD1-408B-A589-61D35764F650</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>ImgurClientError</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>8A79BDB1-717E-401D-BA10-09263AB8CB01</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F7DE5657-9E3F-4800-976A-DE07B5242B74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>=</string>
				<key>trimarguments</key>
				<false/>
				<key>variableprefix</key>
				<string>var</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>520A8B7B-3C9D-4DAF-96A4-DAD1CD1A1353</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>: </string>
				<key>trimarguments</key>
				<false/>
				<key>variableprefix</key>
				<string>s</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>14CC4052-B50F-4D7A-99B6-302CBE3546F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Finished!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D93BF443-491D-4F89-A025-835AE6A9E378</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>11FFE650-D437-4CE7-B333-1CCCCE0E81DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11FFE650-D437-4CE7-B333-1CCCCE0E81DC</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>14CC4052-B50F-4D7A-99B6-302CBE3546F7</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>2E883463-5FC0-4FC9-A245-F1070BE9931E</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>2EC4A662-FA8C-4047-BE93-5107CAA5EBE4</key>
		<dict>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>520A8B7B-3C9D-4DAF-96A4-DAD1CD1A1353</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>6C81ED3B-7597-4B79-B8FA-9DF8EF24641B</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>7F972DF4-E67B-48D6-82ED-7894091802C0</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>897F196A-ADB3-422A-A916-549BEB908163</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>A355B75D-3AF2-4063-863A-1803A35C6D1B</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>BC8B951E-203F-4D66-A0A3-16CDB7A9DEEF</key>
		<dict>
			<key>note</key>
			<string>Start Notification
var2 is the description
var1 is the picture absolute path</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>D93BF443-491D-4F89-A025-835AE6A9E378</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>F7DE5657-9E3F-4800-976A-DE07B5242B74</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/s3cret</string>
</dict>
</plist>
